<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcorey.coreywechat.mapper.SysRespLogMapper" >

  <insert id="insertSelective" parameterType="com.itcorey.coreywechat.entity.SysRespLog" >
    insert into sys_resp_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="basePath != null" >
        base_path,
      </if>
      <if test="reqInfo != null" >
        req_info,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="spendtime != null" >
        spendTime,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="basePath != null" >
        #{basePath,jdbcType=VARCHAR},
      </if>
      <if test="reqInfo != null" >
        #{reqInfo,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="spendtime != null" >
        #{spendtime,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
</mapper>