<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcorey.coreywechat.mapper.SysRespLogMapper" >
  <resultMap id="BaseResultMap" type="com.itcorey.coreywechat.entity.SysRespLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="base_path" property="basePath" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="spendTime" property="spendtime" jdbcType="VARCHAR" />
    <result column="req_info" property="reqInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, base_path, method, ip, description, startTime, uri, url, spendTime, req_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_resp_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_resp_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itcorey.coreywechat.entity.SysRespLog" >
    insert into sys_resp_log (id, base_path, method, 
      ip, description, startTime, 
      uri, url, spendTime, 
      req_info)
    values (#{id,jdbcType=INTEGER}, #{basePath,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{uri,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{spendtime,jdbcType=VARCHAR}, 
      #{reqInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itcorey.coreywechat.entity.SysRespLog" >
    insert into sys_resp_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="basePath != null" >
        base_path,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="spendtime != null" >
        spendTime,
      </if>
      <if test="reqInfo != null" >
        req_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basePath != null" >
        #{basePath,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="spendtime != null" >
        #{spendtime,jdbcType=VARCHAR},
      </if>
      <if test="reqInfo != null" >
        #{reqInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcorey.coreywechat.entity.SysRespLog" >
    update sys_resp_log
    <set >
      <if test="basePath != null" >
        base_path = #{basePath,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="spendtime != null" >
        spendTime = #{spendtime,jdbcType=VARCHAR},
      </if>
      <if test="reqInfo != null" >
        req_info = #{reqInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcorey.coreywechat.entity.SysRespLog" >
    update sys_resp_log
    set base_path = #{basePath,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      uri = #{uri,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      spendTime = #{spendtime,jdbcType=VARCHAR},
      req_info = #{reqInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>